* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 13px;
  color: #000000;
  background: transparent;
}

window#waybar {
  border: none;
  border-radius: 15px; /* Still nice rounded corners */
  padding: 4px 10px;
  margin: 6px 10px;
}

#workspaces button {
  background: none;
  border: 1px solid #8e0be0;
  color: #c0caf5;
  margin: 2px;
  border-radius: 20px;
  padding: 2px 10px;
}

#workspaces button.focused {
  background-color: rgba(142, 11, 224, 0.2);
  font-weight: bold;
}

#clock, #pulseaudio, #custom-ip, #custom-lock, #tray {
  padding: 0 12px;
  border: 1px solid #8e0be0;
  border-radius: 10px;
  margin: 0 4px;
}

#custom-lock {
  color: #000000;
  font-weight: bold;
}

